{% extends 'base.html' %}

{% block form %}

<script>
  // Automatically refresh the page every 5 minutes
  setTimeout(function(){
      location.reload();
  }, 300000); // 5 minutes = 300000 milliseconds
</script>

<main id="main">

  <header id="header">
    <div class="center-logo">
      <h1><i><span style="color:#000000">At</span><span style="color:#EDEADE">Coder</span></i></h1>
    </div>
    <div class="container d-flex flex-column align-items-center">
      <form action="/atcoder" method="post" role="form">
        <div class="subscribe" style="justify-content: flex-end;">
          <div class="subscribe-form">
            <input type="text" name="userhandle" placeholder="AtCoder Handle" value="{{ userhandle }}" 
            style="border:none; outline: none; background: none; padding-left:1rem;">
            <input type="submit" value="🔍">
          </div>
        </div>
        <div class="subscribe">
          <div id="prevBtn">Prev</div>
          <div class="slider-container">
            <div class="slides">
                <div class="slide">
                  <!-- Add buttons here for ratings 800 to 1700 -->
                  {% for rating in range(200, 1401, 200) %}
                  <input class="rating-btn" name = "rating" value="{{rating}}" 
                    {% if prob_rating == rating %} style="background: #63809B" {% endif %} type="submit"/>
                  
                  {% endfor %}
                </div>
                <div class="slide">
                  <!-- Add buttons here for ratings 1800 to 2700 -->
                  {% for rating in range(1600, 2801, 200) %}
                  <input class="rating-btn" name = "rating" value="{{rating}}" 
                    {% if prob_rating == rating %} style="background: #63809B" {% endif %} type="submit"/>
                  {% endfor %}
                </div>
                <div class="slide">
                  <!-- Add buttons here for ratings 2800 to 3500 -->
                  {% for rating in range(3000, 3801, 200) %}
                  <input class="rating-btn" name = "rating" value="{{rating}}" 
                    {% if prob_rating == rating %} style="background: #63809B" {% endif %} type="submit"/>
                  {% endfor %}
                </div>
            </div>
          </div>
          <div id="nextBtn">Next</div>
          <script>
            let currentSlide = {{slide_num}};
      
            function updateSlideWidth() {
                const slideWidth = document.querySelector('.slide').offsetWidth;
                const slides = document.querySelector('.slides');
                slides.style.transform = `translateX(-${currentSlide * slideWidth}px)`;
            }

            // Initial setup
            updateSlideWidth();

            window.addEventListener('resize', updateSlideWidth);

            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
            const totalSlides = document.querySelectorAll('.slide').length;

            prevBtn.addEventListener('click', () => {
                if (currentSlide > 0) {
                    currentSlide--;
                    updateSlideWidth();
                }
            });

            nextBtn.addEventListener('click', () => {
                if (currentSlide < totalSlides - 1) {
                    currentSlide++;
                    updateSlideWidth();
                }
            });
          </script>
        </div>
      </form>

      <!--AtCoder User Details-->
      <div class="user-info">
        {% if userhandle != '' %}
        <div class="user-info-cell" style="color: {{ratingColor}};">
            <!--https://atcoder.jp/users/tourist-->
          <a href = "https://atcoder.jp/users/{{userhandle}}" style="color: {{ratingColor}};" target="__blank">
            <b>{{userhandle}}</b> ({{rank}})
          </a>
        </div>
        <div class="user-info-cell">Rating: {{rating}} (Max: {{max_rating}})</div>
        <div class="user-info-cell" style="color: #0FFF50">Solved: {{correct_cnt}}</div>
        <div class="user-info-cell" style="color: #F88379">Unsolved: {{100-correct_cnt}}</div>
        {% else %}
        <div class="user-info-cell" style="color: {{ratingColor}};"></div>
        <div class="user-info-cell"></div>
        <div class="user-info-cell">Solved: {{correct_cnt}}</div>
        <div class="user-info-cell">Unsolved: {{100-correct_cnt}}</div>
        {% endif %}
      </div>

      <!--AtCoder Problem Table-->
      <div class="table-container">
        <!--Table Head-->
        <div class="table-head" style="margin-bottom: 1rem; border-radius: 0.5rem;">
          <div class="table-cell">Index</div>
          <div class="table-cell">Problem</div>
          <div class="table-cell">Rating</div>
          <div class="table-cell">Status</div>
        </div>
        <!--Table Body-->
        {% for problem in problems %}
          {% set verdict = '-' %}
          {% set prob_color = "white" %}

          {% if user_verdicts[loop.index] == 'AC' %}
            {% set verdict = 'AC' %}
            {% set prob_color = "#009E60" %}
          {% elif user_verdicts[loop.index] == 'WA' %}
            {% set verdict = 'WA' %}
            {% set prob_color = "#D22B2B" %}
          {% endif %}

          <!--https://atcoder.jp/contests/abc347/tasks/abc347_a-->
          <a href="https://atcoder.jp/contests/{{problem.contest_id}}/tasks/{{problem.id}}" target="__blank">
            <div class="table-body" style="border-radius: 0.5rem;">

              <div class="table-cell" style = "color:{{prob_color}}">{{ loop.index }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">{{ problem.name }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">{{ prob_rating }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">
                <div class="table-cell">
                  <div style = "color:{{prob_color}}">{{verdict}}</div>
                </div>
              </div>

            </div>
          </a>
        <div style="height: 1rem;"></div>
        {% endfor %}
      </div>


    </div>
  </header>

</main>


{% endblock form %}