{% extends 'base.html' %}

{% block form %}

<main id="main">

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
      <div class="subscribe">
        <form action="/cfvisualizer" method="post" role="form">
          <div class="subscribe-form" style="right:0">
            <input type="text" name="userhandle" placeholder="CF Handle" value="{{ userhandle }}" style="border:none; outline: none; background: rgb(198, 198, 198);" required>
            <input type="submit" value="🔍">
          </div>
        </form>
      </div>


      {% if userhandle != '' %}
      <!--verdict and language chart-->
      <div style="padding-top: 2rem;">
        <div class="canvas-verdict-lang">
          <div class="canvas-div">
            <div class="canvas-div-chart"> Verdicts of {{userhandle}} </div>
            <canvas id="verdictChart"></canvas>
          </div>
          <div style="width:1rem"> </div>
          <div class="canvas-div">
            <div class="canvas-div-chart"> Languages of {{userhandle}} </div>
            <canvas id="langChart"></canvas>
          </div>
        </div>
      </div>

      <!--Tags, problem-rating, level chart of user-->
      <div style="padding-top: 2rem;">
        <div class="canvas-div">
          <div class="canvas-div-chart"> Tags of {{userhandle}} </div>
          <canvas id="donutChart" style="height: 20rem; width: 20rem;"></canvas>
        </div>

        <br>

        <div class="canvas-div">
          <div class="canvas-div-chart"> Problem ratings of {{userhandle}} </div>
          <canvas id="levelChart" style="height: 15rem; width: 40rem;"></canvas>
        </div>

        <br>

        <div class="canvas-div">
          <div class="canvas-div-chart"> Levels of {{userhandle}} </div>
          <canvas id="ratingChart" style="height:15rem; width: 40rem"></canvas>
        </div>
      </div>

      <!--stats report of user-->
      <div style="padding-top: 2rem;">
        <div class="canvas-verdict-lang">
          <div class="canvas-div canvas-div-stats">
            <div class="canvas-div-text" style="background: #63809B;"> 
              <span>Some stats of</span>
              <span class="user-handle">{{userhandle}} </span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Solved :</span>
              <span class="user-handle">{{stats[1]}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Average attempts :</span>
              <span class="user-handle">{{stats[2]}}</span>
            </div>
          </div>
          <div style="width:1rem"> </div>
          <div class="canvas-div canvas-div-stats">
            <div class="canvas-div-text" style="background: #63809B;">
              <span>Contests of</span>
              <span class="user-handle">{{userhandle}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Number of contests:</span>
              <span class="user-handle">{{info[0]}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Best Rank:</span>
              <span class="user-handle">{{info[1]}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Worst Rank:</span>
              <span class="user-handle">{{info[2]}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Max Up:</span>
              <span class="user-handle">{{info[3]}}</span>
            </div>
            <div class="canvas-div-text canvas-div-text-hover">
              <span>Max Down:</span>
              <span class="user-handle">{{info[4]}}</span>
            </div>
          </div>
        </div>
      </div>

      <!--Verdict PieChart of User-->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var verdict_counts = {{ verdict_counts | tojson }};
        
        var labels = Object.keys(verdict_counts);
        var data = Object.values(verdict_counts);
        <!--
        var totSum = data.reduce((acc, curr) => acc + curr, 0);
        console.log(totSum)
        var dtau = data.map(value => `${((value * 100) / totSum).toFixed(1)}%`);
        var duta = data.map((value, index) => `${data[index]}: ${dtau[index]}`);
        console.log(dtau);
        console.log(data);
        console.log(duta);
        -->

        var ctx = document.getElementById('verdictChart').getContext('2d');
        var pieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              label: '',
              data: data,
              backgroundColor: [
                'rgb(0, 128, 0)',
                'rgb(178, 190, 181)',
                'rgb(255, 191, 0)',
                'rgb(242, 140, 40)',
                'rgb(0, 71, 171)',
                'rgb(210, 43, 43)'
              ],
              borderWidth: 1,
              hoverOffset: 4
            }]
          },
          options: {
            responsive: false,
            maintainAspectRatio: true
          }
        });
        });
      </script>

      <!--Language PieChart of User-->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('langChart').getContext('2d');
        var lang_counts = {{ lang_counts | tojson }};
        
        var labels = lang_counts.map(function(item) {
            return item[0] + ": " + item[1];
        });
        var data = lang_counts.map(function(item) {
            return item[1];
        });
        var totFreq = lang_counts.reduce(function(total, item) {
          return total + item[1];
        }, 0);
        var percentage = data.map(function(value) {
          return ((value * 100) / totFreq).toFixed(1);
        });
        console.log(data)

        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                  label: '%',
                  data: percentage,
                    backgroundColor: [
                      'rgb(0, 128, 128)',
                      'rgb(80, 200, 120)',
                      'rgb(50, 205, 50)',
                      'rgb(0, 128, 0)',
                      'rgb(255, 215, 0)',
                      'rgb(218, 165, 32)',
                      'rgb(236, 88, 0)',
                      'rgb(139, 64, 0)',
                      'rgb(138, 154, 91)',
                      'rgb(54, 69, 79)',
                      'rgb(69, 75, 27)',
                      'rgb(9, 121, 105)',
                      'rgb(2, 48, 32)',
                      'rgb(25, 25, 112)',
                      'rgb(255, 49, 49)',
                      'rgb(159, 43, 104)',
                      'rgb(227, 11, 92)',
                      'rgb(127, 0, 255)',
                      'rgb(64, 224, 208)'
                    ],
                    borderWidth: 1,
                    hoverOffset: 4
                }]
            },
            options: {
              tooltips: {
                  callbacks: {
                      label: function(tooltipItem, data) {
                          var datasetLabel = data.labels[tooltipItem.index];
                          return datasetLabel;
                      }
                  }
              },
              responsive: false,
              maintainAspectRatio: true
            }
        });
        });
      </script>

      <!--Tag Doughnut Chart of User-->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('donutChart').getContext('2d');
        var sortedTagFrequencies = {{ tag_frequencies | tojson }};
        
        var labels = sortedTagFrequencies.map(function(item) {
            return item[0] + ": " + item[1];
        });
        var data = sortedTagFrequencies.map(function(item) {
            return item[1];
        });
        var totFreq = sortedTagFrequencies.reduce(function(total, item) {
          return total + item[1];
        }, 0);
        var percentage = data.map(function(value) {
          return ((value * 100) / totFreq).toFixed(1);
        });

        var donutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                  label: '%',
                  data: percentage,
                    backgroundColor: [
                        'rgb(255, 49, 49)',
                        'rgb(159, 43, 104)',
                        'rgb(227, 11, 92)',
                        'rgb(127, 0, 255)',
                        'rgb(64, 224, 208)',
                        'rgb(0, 128, 128)',
                        'rgb(80, 200, 120)',
                        'rgb(50, 205, 50)',
                        'rgb(0, 128, 0)',
                        'rgb(255, 215, 0)',
                        'rgb(218, 165, 32)',
                        'rgb(236, 88, 0)',
                        'rgb(139, 64, 0)',
                        'rgb(138, 154, 91)',
                        'rgb(54, 69, 79)',
                        'rgb(69, 75, 27)',
                        'rgb(9, 121, 105)',
                        'rgb(2, 48, 32)',
                        'rgb(25, 25, 112)'
                    ],
                    borderWidth: 1,
                    hoverOffset: 4
                }]
            },
            options: {
              tooltips: {
                  callbacks: {
                      label: function(tooltipItem, data) {
                          var datasetLabel = data.labels[tooltipItem.index];
                          return datasetLabel;
                      }
                  }
              },
              responsive: false,
              maintainAspectRatio: true
            }
        });
        });
      </script>

      <!--Rating BarChart of User-->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var levelLabels = [];
        var levelData = [];
        level_frequencies = {{level_frequencies | tojson}}
        // Assuming level_frequencies is already defined
        level_frequencies.forEach(function(item) {
            //console.log(item);
            levelLabels.push(item[0]); // Level
            levelData.push(item[1]); // Frequency
        });

        var barCtx = document.getElementById('ratingChart').getContext('2d');
        var barChart = new Chart(barCtx, {
            type: 'bar',
            data: {
                labels: levelLabels,
                datasets: [{
                    label: 'Solved',
                    data: levelData,
                    backgroundColor: 'rgb(237, 234, 222)',
                    borderWidth: 1,
                    hoverOffset: 4
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        });
      </script>

      <!--Level BarChart of User-->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var ratingLabels = [];
        var ratingData = [];
        rating_frequencies = {{rating_frequencies | tojson}}
        // Assuming rating_frequencies is already defined
        rating_frequencies.forEach(function(item) {
            //console.log(item);
            ratingLabels.push(item[0]); // Level
            ratingData.push(item[1]); // Frequency
        });

        var barCtx1 = document.getElementById('levelChart').getContext('2d');
        var barChart = new Chart(barCtx1, {
            type: 'bar',
            data: {
                labels: ratingLabels,
                datasets: [{
                    label: 'Solved',
                    data: ratingData,
                    backgroundColor: 'rgb(237, 234, 222)',
                    borderWidth: 1,
                    hoverOffset: 4
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        });

      </script>
      {% else %}
        <div style="height: 7rem"></div>
      {% endif %}
    </div>
  </header>
  
</main>
  
  

{% endblock form %}