{% extends 'base.html' %}

{% block form %}

<script>
  // Automatically refresh the page every 5 minutes
  setTimeout(function(){
      location.reload();
  }, 300000); // 5 minutes = 300000 milliseconds
</script>

<main id="main">

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
      <div class="subscribe">
        <form action="/codeforces" method="post" role="form">
          <div class="subscribe-form">
            <input type="text" name="userhandle" placeholder="CF Handle" value="{{ userhandle }}" required><input type="submit" value="🔍">
          </div>
        </form>
      </div>

      <!--CF User Details-->
      <div class="user-info">
        <div class="user-info-cell" style="color: {{ratingColor}};">{{userhandle}} ({{rank}})</div>
        <div class="user-info-cell">Rating: {{rating}} (Max: {{max_rating}})</div>
        <div class="user-info-cell">Solved: {{correct_cnt}}</div>
        <div class="user-info-cell">Unsolved: {{100-correct_cnt}}</div>
      </div>

      <!--CF Problem Tags-->
      <div class="table-container" style="margin-bottom: 1rem; padding:0;">
        <div class="text-sm flex flex-wrap justify-items-start m-3 content-center">
          {% for tag in tags %}
          <button style="color: white; padding: 0.2rem 0.5rem; margin: 0.2rem; border-color: white; border-radius: 1rem; background-color: #183D3D;">{{tag}}</button>
          {% endfor %}
        </div>
      </div>

      <!--CF Problem Table-->
      <div class="table-container">
        <!--Table Head-->
        <div class="table-head" style="margin-bottom: 1rem; border-radius: 0.5rem;">
          <div class="table-cell">Index</div>
          <div class="table-cell">Problem</div>
          <div class="table-cell">Rating</div>
          <div class="table-cell">Status</div>
        </div>
        <!--Table Body-->
        {% for problem in problems %}
          {% set verdict = '-' %}
          {% set prob_color = "white" %}

          {% if user_verdicts[loop.index] == 'AC' %}
            {% set verdict = 'AC' %}
            {% set prob_color = "#009E60" %}
          {% elif user_verdicts[loop.index] == 'WA' %}
            {% set verdict = 'WA' %}
            {% set prob_color = "#D22B2B" %}
          {% endif %}


          <a href="https://codeforces.com/contest/{{problem.contestId}}/problem/{{problem.index}}" target="__blank">
            <div class="table-body" style="border-radius: 0.5rem;">

              <div class="table-cell" style = "color:{{prob_color}}">{{ loop.index }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">{{ problem.name }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">{{ problem.rating }}</div>
              <div class="table-cell" style = "color:{{prob_color}}">
                <div class="table-cell">
                  <div style = "color:{{prob_color}}">{{verdict}}</div>
                </div>
              </div>

            </div>
          </a>
        <div style="height: 1rem;"></div>
        {% endfor %}
      </div>

    </div>
  </header>

</main>


{% endblock form %}