{% extends 'base.html' %}

{% block form %}

<main id="main">

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
      <div class="subscribe">
        <form action="/codeforces" method="post" role="form">
          <div class="subscribe-form">
            <input type="text" name="userhandle" placeholder="CF Handle" value="{{ userhandle }}" required><input type="submit" value="🔍">
          </div>
        </form>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Tags</label>
        </div>
        <script>
          const switchCheckbox = document.getElementById('flexSwitchCheckDefault');
          const label = document.querySelector('.form-check-label');
        
          switchCheckbox.addEventListener('change', function() {
            if (this.checked) {
              label.classList.add('active');
            } else {
              label.classList.remove('active');
            }
          });
        </script>
        <!--<h4> {{userhandle}} ({{rank}}) Rating: {{rating}} (Max: {{max_rating}})  </h4>-->
      </div>

      <!--CF User Details-->
      <div class="user-info">
        <div class="user-info-cell">{{userhandle}} ({{rank}})</div>
        <div class="user-info-cell">Rating: {{rating}} (Max: {{max_rating}})</div>
        <div class="user-info-cell">Solved: 0</div>
        <div class="user-info-cell">Unsolved: 100</div>
      </div>

      <div class="table-container" style="margin-bottom: 1rem;">
        <div class="text-sm flex flex-wrap justify-items-start m-3 content-center">
          {% for tag in tags %}
          <button style="color: white; padding: 0.2rem 0.5rem; margin: 1rem; border-color: white; border-radius: 1rem; background-color: #183D3D;">{{tag}}</button>
          {% endfor %}

        </div>
      </div>

      <div class="table-container">
        <div class="table-head" style="margin-bottom: 1rem; border-radius: 0.5rem;">
          <div class="table-cell">Index</div>
          <div class="table-cell">Problem</div>
          <div class="table-cell">Tags</div>
          <div class="table-cell">Rating</div>
          <div class="table-cell">Status</div>
        </div>
        {% for problem in problems %}
        <a href="https://codeforces.com/contest/{{problem.contestId}}/problem/{{problem.index}}">
          <div class="table-body" style="border-radius: 0.5rem;">
            <div class="table-cell">{{ loop.index }}</div>
            <div class="table-cell">{{ problem.name }}</div>
            <div class="table-cell flex flex-wrap">
              {% for tag in problem.tags %}
                  <div>{{ tag }}</div> <!-- Each tag in a separate div -->
              {% endfor %}
            </div>
            <div class="table-cell">{{ problem.rating }}</div>
            <div class="table-cell">-</div>
          </div>
        </a>
        <div style="height: 1rem;"></div>
        {% endfor %}
      </div>

    </div>
  </header>

</main>


{% endblock form %}