{% extends 'base.html' %}

{% block body %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="header" class="about">
      <div class="container">

        <div class="section-title">
          <h2 style="font-size: 4rem;">DCode</h2>
          <p style>One Platform, Endless Possibilities</p>
          <!--<p>One Platform, Endless Possibilities: Your Gateway to Expertise in Competitive Programming!</p>-->
        </div>

        <div class="row mt-2">
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/codeforces">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="static/assets/img/code-forces.svg" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">Codeforces</h4>
              </div>
            </a>
            <style>
              .icon-box:hover {
                background-color: rgba(0, 0, 0, 0.1); /* Change the color here */
              }
            </style>
          </div>
        
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/atcoder">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="https://img.atcoder.jp/assets/logo.png" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">AtCoder</h4>
              </div>
            </a>
          </div>
        
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/codechef">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="static/assets/img/codechef.png" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">CodeChef</h4>
              </div>
            </a>
          </div>
        </div>

        <div style="height: 7rem"></div>
        <div class="section-title">
          <h3>View your Handle</h3>
          <!--<p>One Platform, Endless Possibilities: Your Gateway to Expertise in Competitive Programming!</p>-->
        </div>

        <div class="row mt-2">
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/cfvisualizer">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="static/assets/img/code-forces.svg" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">Codeforces</h4>
              </div>
            </a>
            <style>
              .icon-box:hover {
                background-color: rgba(0, 0, 0, 0.1); /* Change the color here */
              }
            </style>
          </div>
        
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/atcoder">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="https://img.atcoder.jp/assets/logo.png" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">AtCoder</h4>
              </div>
            </a>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="/codechef">
              <div class="icon-box" style="border: 5px solid #fff; border-radius: 10px; padding: 1rem;">
                <div class="icon"><img src="static/assets/img/codechef.png" style="width: 128px; height: 128px;"></div>
                <h4 class="title" style="color: white;">CodeChef</h4>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->
  <div style="height: 2rem;"></div>

{% endblock body %}